spring.application.name=zanolli-backend

public.key=classpath:
private.key=classpath:

role.aluno=
role.professor=

origin.client=

#spring.sql.init.mode=always
#spring.jpa.defer-datasource-initialization=true

spring.datasource.url=jdbc:postgresql:
spring.datasource.username=
spring.datasource.password=
spring.jpa.hibernate.ddl-auto=
spring.jpa.show-sql=true

spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true